html {
    height: 100%;
    margin: 0;
}

body {
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: 0;
    max-width: 100%;
    max-height: 100%;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.m30 {
    margin: 30px;
}

.mt-10 {
    margin-top: -10px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: -20px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.text-red {
    color: #F00;
}

.text-blue {
    color: #20a0ff;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn-plain {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    color: #20a0ff;
    border-color: transparent;
}

.full-width {
    width: 100%;
}

.main-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px 20px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    min-height: 100vh;
}
router-view {
    display: block;
}
.page-view {
    padding: 20px;
    min-height: calc(100vh - 80px);
    background-color: #FEFEF2;
    border: 1px solid #E2E2E2;
}
.container:after {
    content: "";
    position: relative;
    display: table;
    clear: both;
}
header {
    display: block;
    line-height: 60px;
}
header .logo, header ul, header li {
    display: inline-block;
}
header .logo {
    padding: 2px 6px;
    border: 2px solid #7e94b1;
    border-radius: 6px;
    line-height: 20px;
}
header li {
    padding: 0 6px;
}
header li .router-link-active, header li a:active, header li a:hover {
    color: #20a0ff;
}
